* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  background: white;
  border-radius: 6px;
}

.active * {
  color: black;
}

.bgCrousal {
  background-image: url("./assets/images/bgcrousal.png");
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

/* .mySwiper {
  position: absolute !important;
  top: 0 !important;
} */

.block-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 10px; */
  max-width: 400px;
  margin: 0 auto;
  top: 25%;
  position: relative;
}

.block {
  height: 100px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

@media (max-width: 700px) {
  .block-grid {
    transform: scale(0.6);
  }
}